node_modules/
target/
_out/
gen/

db.sqlite*
*.log
logs/
dist/
.env
.env.local
.env.*.local
.DS_Store
.vscode/
.idea/

.cdsrc-private.json
default-*.json
*.sqlite

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models
